.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.item {
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.form-control-textarea {
  min-width: 350px;
  height: 100px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  min-width: 150px;
  height: 30px;
  border: 0;
  color: #fff;
  cursor: pointer;

  &.btn-danger {
    background: rgba(#f00, .6);
  }
}
