<div class="row">
  <div class="column">
    <div class="row item" *ngFor="let item of mocky">
      <div>
        <p>{{item.name}}</p>
        <p>{{item.email}}</p>
        <p>{{item.phone}}</p>
      </div>
      <button class="btn btn-danger" (click)="onDeleteMockyEvent(item.id)">Delete</button>
    </div>
  </div>
  <form #mockyForm="ngForm" (ngSubmit)="onSaveMockyEvent(mockyForm.value)">
    <textarea class="form-control-textarea" name="" id="" cols="30" rows="10"></textarea>
    <button class="btn btn-success"type="submit"
            [disabled]="!mockyForm.form.valid">Save</button>
  </form>
</div>
