<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Mocky</mat-card-title>
  </mat-card-header>
</mat-card>

<form class="example-form" #mockyForm="ngForm" (ngSubmit)="save(mockyForm.value)" method="POST">
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Paste mock data to access generate link"></textarea>
  </mat-form-field>
  <div class="example-button-row">
    <button mat-raised-button color="primary" type="submit"
            [disabled]="!mockyForm.form.valid">Generate link</button>
    <a mat-raised-button routerLink=".">Link ...</a>
  </div>
</form>
