$path-fonts: "./../../fonts/";
$path-images: '../images/';

$flow: 'Flow';
$mukta: 'Mukta';

$preload-font: $flow;
$default-font-family: $mukta, sans-serif;

$default-font-size: 16px;
$default-font-weight: 400;
$default-line-height: 1;

%pseudo-el {
    position: absolute;
    display: block;
    content: '';
}

